TELEGRAM_BOT_TOKEN=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
GEMINI_API_KEY=

# Optional
TELEGRAM_PHONE=
KEEP_DOWNLOADED_VIDEOS=false
LOCAL_BOT_API_URL=
LOCAL_BOT_API_FILE_URL=
LOCAL_BOT_API_SHARED_DOWNLOADS_PATH=
